main{
    display: flex;
    gap: 20px;
}

.card{
    width: 100%;
    max-width: 1176px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #FAFAFBFF;
    border-radius: 12px;
    font-size: 1.2rem;
}

.info{
    max-width: 588px;
    padding: 40px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info > button{
    width: 8rem;
}
